/* -- Variables  */
:root {
	--sidebar-scale: 1;
	--art-scale: 1;
}

/* -- Elements */

html {
	min-width: 100vw;
	min-height: 100vh;

	background:
	linear-gradient(
		rgb(89, 128, 128),
		rgb(79, 55, 79)
	),
	linear-gradient(
		-45deg,
		rgb(79, 55, 79),
		rgb(129, 187, 140)
	),
	linear-gradient(
		45deg,
		#55553d,
		rgb(206, 128, 206)
	);
	background-blend-mode: multiply;
}
body {
	margin: 0;

  	background-size: contain;

	font-family: helvetica;
	font-size: 30px;
	line-height: 24px;
	overscroll-behavior: none;

	overflow:hidden;
	max-height: 100vh;
}

button {
	cursor: pointer;
}

h6 {
	margin:0;
	padding:10px;
}
canvas {
	display: block;

	background:
	linear-gradient(
		rgb(89, 128, 128),
		rgb(79, 55, 79)
	),
	linear-gradient(
		-45deg,
		rgb(79, 55, 79),
		rgb(129, 187, 140)
	),
	linear-gradient(
		45deg,
		#55553d,
		rgb(206, 128, 206)
	);
}

a, button, input, select {
	pointer-events: auto;
}
::placeholder {
	color:#aaa
}

/* -- PAGES */
.page {
	color:white;
	margin-top: 120px;
	padding-left:clamp(0px, 10vw, 100px);
}
.page-hidden {
	display: none;
	pointer-events: none;
}


/* -- HEADER */
#header {
	color:white;
	font-family: Helvetica;
	font-size: clamp(12px, 2vw, 16px);
	width:100%;
	z-index: 100;
	position:fixed;
	top:0;
	left:0;
}
#header ul {
	margin:0;
	padding:5px;
	width: 100%;
	text-align: center;
}
#header li {
	list-style: none;
	display: inline-flex;
	padding: 15px 0px;
}
#header li a {
	padding: 0px 25px;
}
#header a, #header a:visited, #header a:link {
	color: white;
	background-color: transparent;
	text-decoration: none;
}

#header a:active, #header a:hover {
	color: pink;
	background-color: transparent;
	text-decoration: none;
}

#logo {
	position: fixed;
	top:25px;
	left:25px;
	height:clamp(25px, 10vmin, 50px);
	width:clamp(25px, 10vmin, 50px);
	background: url('./img/logo.png');
	background-repeat: no-repeat;
	background-size: contain;
	z-index:200;
}

 /* -- LOADING PAGE */
#loading-frame {
	font-family: Helvetica;
	position: absolute;
	top: 0px;
	width: 100vw;
	height:100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 10px;
	color: white;
	overflow: hidden;
	box-sizing: border-box;
	text-align: center;
	flex-direction: column;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
}
#loading-text {
	width:200px;
	text-align:left;
	padding-left: 70px;
	margin-bottom: 15px;
}
#loading-bar-frame {
	border: 2px solid white;
	padding:2px;
	height:20px;
	width:200px;
}
#loading-bar {
	height:100%;
	background-color: white;
}

/* -- XR Anatomy Viewer */

/* Quizbar */
#quizbar {
	position: fixed;
	width: clamp(250px, 25vw, 320px);
	min-width: 250px;
	left: 0;
	top:0;
	height: 100vh;
	background:
	linear-gradient(
		#181B21 0%,
		rgba(24, 27, 33, 1) 15%,
		rgba(24, 27, 33, 0) 20%
	);
	background-blend-mode: multiply;
	pointer-events: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: baseline;

	/* For header space */
	/* padding-top: clamp(52px, 10vh, 63px)!important; */
	padding-top: 80px;
	transform:scale(var(--sidebar-scale));
	transform-origin: left 80px;
}
.quizbar-active {
	background:
	linear-gradient(
		#181B21 0%,
		rgba(24, 27, 33, 1) 25%,
		rgba(24, 27, 33, 0) 100%
	)!important;
}
#quiz-panel {
	padding: 10px;
	color: white;
	line-height: normal;
}
#quiz-panel h4 {
	padding: 5px;
	margin:0;
	height:100px;
}
#quiz-panel br {
	font-size: 0px !important;
}
#numcorrect {
	color: cornflowerblue;
	display: block;
	padding-top: 10px;
	font-size: 18px;
}
#see-bone-info {
	margin: 0px 3px 0px 15px;
	height:7px;
	width:7px;
	border-radius: 2px;
	background-color: white;
	border: 2px solid #181B21;
	display: inline-block;
}
.see-bone-info-selected {
	background-color: red!important;
	border: 2px solid white!important;
}
#see-bone-info-txt {
	display: inline;
	padding: 5px;
	font-size: 18px;
	color:#bbb
}

/* Sidebar */
#sidebar {
	position: fixed;
	width: clamp(250px, 25vw, 320px);
	min-width: 250px;
	right: 0;
	top:0;
	height: 100vh;
	background:
	linear-gradient(
		#181B21 0%,
		rgba(24, 27, 33, 1) 25%,
		rgba(24, 27, 33, 0) 100%
	);
	background-blend-mode: multiply;
	pointer-events: auto;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: baseline;

	/* For header space */
	/* padding-top: clamp(52px, 10vh, 63px)!important; */
	padding-top: 30px;
	transform:scale(var(--sidebar-scale));
	transform-origin: right 30px;
}

.sidebar_hidden {
	width:0px!important;
}

#sidebar h6 {
	font-family: Helvetica;
	font-size: .9em;
	color: 	#f2f2f2;

}

.sidebar-button {
	font-family:helvetica;
	letter-spacing: 2px;
	font-size: .5em;
	color: 	#f2f2f2;
	background: rgba(0, 0, 0, 0.0);
	border:2px solid #fefefe;
	box-shadow:2px 2px 0px black;
	border-radius:70px;
	-webkit-font-smoothing:none;
	width: calc(100% - 20px);
	min-height: 40px;
	text-align: center;
	line-height: normal!important;
	text-decoration: none;
	padding:10px;
	margin-top:5px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	text-transform: none!important;
}
.sidebar-button:hover {
	background:rgba(0, 0, 0, 0.5);
}
.sidebar-button-active {
	background-color: #fefefe;
	color:black;
	border:2px solid black;
	font-weight: 600;
	letter-spacing: 1px;
}
.sidebar-button-active:hover {
	background:rgba(255, 255, 255, 0.8);
}
.half-width {
	float:left;
	overflow-x: visible!important;
	white-space: nowrap;
	width:calc(50% - 16px);
	margin-left:10px;
	margin-right:2px!important;
}

#new-model-link {
	padding:0;
}

/* Selected Info */
#bone-info {
	/* padding: 35px 0 0 16px; */
	width: calc(100% - 20px);
	padding:25px 10px;
}

#selected-info {
	margin: 5px 0px;
	padding-bottom:0px;
	color:cornflowerblue!important;
	font-weight: 400;
	font-size: 1.5pc!important;
}

#selected {
	margin:0;
	color: #fff;
	height:50px;
	overflow-y: visible;
	padding-bottom:0px;
	padding-top:0px;
}

/* Tooltips / Controls */
#toolbar {
	width:100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

#tooltips-wrapper {
	width:90%;
	background: rgba(0,0,0,0.7);
}

#tooltips {
	bottom: 0%;
	height: auto;
	font-size: 0.75pc;
	padding:0px 15px 15px 25px;
	color: white;
	margin:0;
}

#instructions {
	padding: 10px;
	margin:10px 0px 0px 0px;
	font-size:1.6pc!important;
}

/* Bones List */

/* Search */
#search-frame {
	display: flex;
	border-radius: 0px 10px 0px 0px;
	border-bottom: 2px solid #777;
	box-sizing:border-box;
}
#search-bones {
	flex:1;
	width: auto;
	min-width: 0px;
	font-size: 16px;
	padding:5px;
	margin-left:5px;
	padding-left:15px;
	background: rgba(0, 0, 0, 0.6);
	color:white;
	border: none!important;
	box-shadow: none!important;
}
#clear-search {
	background-image: url("./img/x-clear-search.png");
	width: 20px;
	height: 20px;
	background-position: center;
	margin: auto 5px;
	background-size: 100%;
	background-repeat: no-repeat;
	filter: invert();
	border-radius: 7px;
	cursor: pointer;
}
#clear-search:hover {
	background-color: white;
	filter: none;
}

/* List */
#bones-list-frame {
	border: 2px solid cornflowerblue;
	border-radius: 10px 10px 0px 10px;
	margin-top: 20px;
	width:90%;
}
#bones-list-frame h6 {
	padding: 10px;
	font-weight: 200;
	font-size: .5em;
	white-space: nowrap;
}
#bones-list {
	background: rgba(0, 0, 0, 0.4);
	overflow-x: hidden;
	overflow-y: scroll;
	min-height: 37px;
	max-height: 20vh;
	border-radius: 0px 0px 0px 10px;
}
#bones-list li {
	list-style-type: none;
	font-family: helvetica;
	padding:5px;
	padding-left:10px;
	font-size:0.9pc;
	font-weight: 400;
	letter-spacing: 0.5px;
	color: #aaa;
	border-bottom:2px solid #777;
}
#bones-list li:hover {
	background: rgba(255,255,255,0.1);
	background-blend-mode: multiply;
	cursor:pointer
}
.selected-component {
	background: cornflowerblue;
	background-repeat: no-repeat;
	background-size: contain;
	color:white!important;
}
.selected-component .eye {
	filter:invert();
}
.eye {
	background-image: url("./img/eye.png");
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center;
	width:20px;
	height: 20px;
	float:left;
	margin-right: 10px;
	filter: invert(50) brightness(0.6) sepia(66) saturate(4) hue-rotate(320deg);
}
.eye-closed {
	background-image: url("./img/eye-closed.png")!important;
	background-repeat: no-repeat;
	background-blend-mode: multiply;
}


::-webkit-scrollbar {
	width: 10px;               /* width of the entire scrollbar */
	padding-top:5px;
	padding-bottom:5px;
	background: transparent;
}

::-webkit-scrollbar-track {
	background: #bbb;
	border-left: 4px solid transparent;
	border-right: 4px solid transparent;
	background-clip: padding-box;
}
::-webkit-scrollbar-thumb {
	background-color: cornflowerblue;    /* color of the scroll thumb */
	border-radius: 8px;       /* roundness of the scroll thumb */
}

/* -- Canvas (Viewer) */
canvas {
	pointer-events: auto;
	position: fixed;
	left: 0;
	top: 0;
	z-index: -1;
}


/* -- Home Page */

#home {
	font-size: 0; /* So annoying */
}
/* Home Page Title */
#home-title h4, #home-title h2, #home-title h6 {
	/* margin: 15px; */
	margin:0;
	padding: 0;
	margin-bottom: clamp(8px, 0.8vw, 10px);
	display: inline-block;
	line-height: normal;
}
#home-title h4 {
	color:cornflowerblue;
	font-size: clamp(12px, 3vw, 32px);
}
#home-title h2 {
	font-size: clamp(20px, 5vw, 45px);
}

#home-title h6 {
	font-weight: 100;
	color: lightslategray;
	font-size: clamp(11px, 2.7vw, 20px);
}

#home-artwork {
	position:absolute;
	right:25px;
	bottom: 0px;
	transform: scale(clamp(0.366, var(--art-scale), 0.85));
	transform-origin: bottom right;
}

#home-artwork-occ {
	height:40px;
	display: inline-block;
	margin-left: 15px;
	margin-right: auto;
	transform: scale(clamp(0.366, var(--art-scale), 0.85));
	transform-origin: bottom left;
}

/* Model Selection */
#modal {
	/* background:
	linear-gradient(
		rgb(89, 128, 128),
		rgb(79, 55, 79)
	),
	linear-gradient(
		-45deg,
		rgb(79, 55, 79),
		rgb(129, 187, 140)
	),
	linear-gradient(
		45deg,
		#55553d,
		rgb(206, 128, 206)
	); */
	background-blend-mode: multiply;

	position: fixed;
	width: 70%;
	height: 60%;

	bottom:0;
	left: 0;
	pointer-events: auto;
	opacity: 1;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

#modal-header{
	color: white;
	font-size: clamp(4vw ,26px, 13vw);
}

/* NOTE : this is an object type not a class or id */
#model-select {
	width: 100%;
	text-align: center;
}
model-card {
	padding: 0px 20px 0px 20px;
	width: 20%;
	border-radius: 2px;
	display: inline-flex;
	flex-direction: column-reverse;
	align-items: top;
	justify-content: center;
}

.model-image {
	width: 100%;
	height: 30%;
	background-size:contain;
	z-index: -1;
	display: block;
}

.model-info-text {
	padding: 20px 20px 0px 20px;
	height: 25%;
	width: auto;
	color:lightslategray;
	z-index: -1;
	display: block;
	/* font-size: 20px; */
	text-align: center;
	font-size: clamp(3vh ,9px, 3vw);
	line-height: normal;
}

.model-selection-button {
	font-family:helvetica;
	font-size: clamp(0px, 3vw, 20px);
	color: 	#f2f2f2;
	background: rgba(0, 0, 0, 0.0);
	border:2px solid #fefefe;
	box-shadow:2px 2px 0px black;
	border-radius:70px;
	-webkit-font-smoothing:none;
	min-width: clamp(4vw ,40px, 8vw);
	height: clamp(4vw ,40px, 8vw);
	text-align: center;
	line-height: normal;
	text-decoration: none;
}
.model-selection-button:hover {
	background:rgba(0, 0, 0, 0.5);
}

.model-selection-button:hover ~ .model-image {
	filter:brightness(75%)
}