html {
	min-width: 100%;
	min-height: 100%;
}
body {
	
	margin: 0;
	background: #000000;
	
  	background-size: contain;
	
	font-family: Monospace;
	font-size: 30px;
	line-height: 24px;
	overscroll-behavior: none;
}

button {
	cursor: pointer;
	text-transform: uppercase;
}

canvas {
	display: block;
}

#info {
	font-family: Helvetica;
	position: absolute;
	top: 0px;
	width: 100%;
	padding: 10px;
	color: #98d13d;
	max-height: 100vh;
	overflow: hidden;
	box-sizing: border-box;
	text-align: center;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	pointer-events: none;
	z-index: 1; /* TODO Solve this in HTML */
}


a, button, input, select {
	pointer-events: auto;
}

.dg.ac {
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none;
	user-select: none;
	z-index: 2 !important; 
}




#selected {
	color: #fff;
}


#bone-info {
	height: 30vh;
	border-bottom: 5px solid #2B2B2B;
	padding: 35px 0 0 16px;
}

#interactive-screen {
	width: 80vw;
	height: 100vh;
	left: 0px;
	position: fixed;
	pointer-events: none;
}


#sidebar {
	position: fixed;
	width: 20vw;
	right: 0;
	height: 100vh;
	background:
	linear-gradient(
		rgb(89, 128, 128),
		transparent
	),
	linear-gradient(
		-45deg,
		rgb(79, 55, 79),
		transparent
	),
	linear-gradient(
		45deg,
		#55553d,
		transparent
	);
	border-left: 5px solid #2B2B2B;
	background-blend-mode: multiply;
	pointer-events: auto;
	
}

#sidebar h6 {
	font-family: Helvetica;
	font-size: .9em;
	color: 	#f2f2f2;
	
}
canvas {
	pointer-events: auto;
	position: fixed;
	left: 0;
	top: 0;
	z-index: -1;
}
#toolbar {
	display: flex;
	flex-flow: row wrap;
}


.sidebar-button {
	margin: auto;
	margin-top: 16px;
	margin-bottom: 2px;
	font-family:helvetica;
	font-size: .9em;
	color: 	#f2f2f2;
	background: rgb(98, 99, 111);
	border:2px solid black;
	box-shadow:2px 2px 0px black;
	border-radius:6px;
	-webkit-font-smoothing:none;
	width: 200px;
	height: 80px;
	text-align: center;
	line-height: normal;
	text-decoration: none;
}
.sidebar-button:hover {
	margin-top: 18px;
	margin-bottom: 0px;
	background:rgb(77, 78, 87);
	border:2px solid black;
	box-shadow:0px 0px 0px black;
	border-radius:6px;
	-webkit-font-smoothing:none;
}

/* MODAL STYLE*/
#modal {
	background:
	linear-gradient(
		rgb(89, 128, 128),
		rgb(79, 55, 79)
	),
	linear-gradient(
		-45deg,
		rgb(79, 55, 79),
		rgb(129, 187, 140)
	),
	linear-gradient(
		45deg,
		#55553d,
		rgb(206, 128, 206)
	);
	background-blend-mode: multiply;

	position: fixed;
	width: 100%;
	height: 100%;

	top:0;
	left: 0;
	pointer-events: auto;
	opacity: 1;
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
}

#modal-header{
	color: white;
	font-size: clamp(5vw ,30px, 15vw);
}

#model-select button {
	border:2px solid white;
	margin: 0 0 0 16px;
}
#tooltips {
	position: fixed;
	left: 10px;
	bottom: 0%;
	height: auto;
	
}
#tooltips span {
	display: block;
	color: white;
	margin: 0 0 10px 0;
}

@media (max-width: 900px){
	
	.sidebar-button {
		margin-top: 8px;
		margin-bottom: 2px;
		font-size: .7em;
		margin-top: 10px;
		width: 156px;
		height: 55px;
	}
	.sidebar-button:hover {
		margin-top: 10px;
	}
}

@media (max-width: 500px){
	#tooltips{
		bottom: 25%;
		font-size: 12px;
		margin-bottom: 0px;
	}
	#sidebar{
		right: auto;
		left: 0;
		bottom: 0;
		height: 25vh;
		width: 100vw;
		border-left: 0;
		
	}
	#sidebar h6 {
		font-family: Helvetica;
		font-size: .7em;
		color: 	#f2f2f2;
	}
	#bone-info {
		position: inherit;
		display: inline;
		width: 50vw;
		height: 25vh;
		border-right: 5px solid #2B2B2B;
		padding: 10px 0 0 10px;
	}
	#toolbar {
		width: 50vw;
		height: 25vh;
		transform: translateX(100%);
	}
	#interactive-screen {
		height: 75vh;
		width: 100vw;
	}
	
}